<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CHORECHAMPION</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
 <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Koulen&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body>
  <header class="p-1 box-shadow">
    <nav class="navbar w-100 navbar-expand-lg bg-body-tertiary">
      <div class="ml-auto container-fluid">
        <img src="/images/chorechampion-dark.svg" style="height:50px; margin-top: -15px;" />
        <span class="header-text navbar-brand" style="margin-top: -10px;">CHORECHAMPION</span>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon" style=""></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="nav">
              {{#if logged_in}}
              <li><a href="/browse" class="btn btn-light px-3 m-1">Browse</a></li>
              <li><a href="/knockoutSelect" class=" btn btn-light px-3 m-1">Knockout</a></li>
              <li><a href="/task" class=" btn btn-light px-3 m-1">Add</a></li>
              {{/if}}
              {{#if logged_in}}
              <li class=""><a class=" btn btn-light px-3 m-1" id="logout">Logout</a></li>
              {{else}}
              <li class=""><a class="btn btn-light px-3 m-1" href="/login">Login</a></li>
              <li class=""><a class=" btn btn-light px-3 m-1" href="/create">Create Account</a></li>
              {{/if}} 
            </ul>
        </div>
      </div>
    </nav>
{{!-- 
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="/images/chorechampion.svg" style="height:75px" />
          <span class="fs-4 chorechampion-text">CHORECHAMPION</span>
        </a>
        <div class=" collapse navbar-collapse">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          {{#if logged_in}}
          <a href="#" class="btn btn-light px-3 m-1">Home</a>
          <a href="/browse" class="btn btn-light px-3 m-1">Browse</a>
          <a href="/knockoutSelect" class="btn btn-light px-3 m-1">Knockout</a>
          <a href="/task" class="btn btn-light px-3 m-1">Add</a>
          {{/if}}
          {{#if logged_in}}
          <a class="btn btn-light px-3 m-1" id="logout">Logout</a>
          {{else}}
          <a class="btn btn-light px-3 m-1" href="/login">Login</a>
          <a class="btn btn-light px-3 m-1" href="/create">Create Account</a>
          {{/if}}
        </div>
      </div>
    </div> --}}
  </header>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>

  </footer>

  <!-- TODO: Add a comment describing the functionality of this helper -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>
</body>

</html>