
<ol class="fs-1">
  <li>To get started, click the Add button.</li>
  <li>Use the Knock Out button after you've added a few tasks to get a list of tasks to complete.</li>
</ol>
{{!-- {{#each users as |user| }}
<div class="row align-center mb-5">
  <div class="col-md-6">
    <h2>{{{get_emoji}}} {{user.name}}</h2>
  </div>
  <div class="col-md-6">
    <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
  </div>
</div>
{{/each}} --}}
