<h1>Knock Out Your Chores</h1>
<form class="task-form">
  <div class="row">
      <div class="col-6 form-group">
        <label for="minutes m-2 mx-0">How many minutes can you spare to spar with these chores?</label>
        <input type="number" placeholder="15" value="15" class="fs-1" id="minutes" />
      </div>
      <div class="col-6 form-group">
        <button class="w-100 mx-0 m-3 btn btn-success" type="submit">Knockout</button>
      </div>
  </div> 
  </form> 
  <div class="d-flex text-center my-4">
    <h3 class="mx-auto text-center">or</h3>
  </div>
  <form class="or-form">
    <div class="row">
      <h2>Dial it in!</h2>
    </div>
  <div class="row my-2">
      <div class="col-2 form-group">
        <label for="hours">Days</label>
        <input type="number" class="w-100 fs-2" id="days" />
      </div>
      <div class="col-2 form-group">
        <label for="hours">Hours</label>
        <input type="number" class="w-100 fs-2" id="hours" />
      </div>
      <div class="col-2 form-group">
        <label for="or-minutes">Minutes</label>
        <input type="number" class="w-100 fs-2" id="or-minutes" />
      </div>
      <div class="col-6 form-group">
        <button class="w-100 mx-0 m-3 btn btn-success" type="submit">Knockout</button>
      </div>
  </div>
  </form>
 
</form>
<script src="js/knockoutSelect.js"></script>