<h2>Post</h2>
<form class="post-form">
  <div class="form-group">
    <label for="title-post">Title</label>
    <input type="text" class="w-100 m-1 mx-0 form-control" id="title-post" aria-describedby="emailHelp"
      placeholder="Enter post title">
  </div>
  <div class="form-group">
    <label for="body-post">Body</label>
    <textarea class="w-100 m-1 mx-0 form-control" id="body-post" placeholder="Enter post content"></textarea>
  </div>
  <div class="form-group">
    <button class="w-100 mx-0 m-1 btn btn-primary" type="submit">Create Post</button>
  </div>
</form>
<script src="/js/post.js"></script>