<div class="row">
  <h1 class="text-center">Add a New Task</h1>
  <div class="col-12-6">
    <form class="w-75 mx-auto task-form">
      <div class="form-group">
        <label for="title-task">Title</label>
        <input type="text" class="w-100 m-1 mx-0 form-control d-flex align-items-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
          data-bs-title="Please provide a unique title for your task that will help you differentiate it from any other task(s) that you create." id="title-task" aria-describedby="emailHelp"
          placeholder="Enter task title"/>
      </div>

      <div class="form-group">
        <label for="body-task">Body</label>
        <textarea class="w-100 m-1 mx-0 form-control d-flex align-items-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
          data-bs-title="Please provide any details or conditions required to complete your task." id="body-task" placeholder="Enter task content">
        </textarea>
      </div>

      <div class="form-group">
        <label for="due_date">Due Date</label>
        <input class="w-100 m-1 mx-0 form-control d-flex align-items-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
          data-bs-title="Please use the calendar to select the expected date of completion for your task." type="datetime-local" name="due_date" id="due_date">
      </div>

      <div class="form-group">
        <label for="priority">Priority</label>
        <input class="w-100 m-1 mx-0 form-control d-flex align-items-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
          data-bs-title="Please assign a priority value for your task(with '1' being the highest value possible)." type="number" name="priority" id="priority"/>
      </div>

      <div class="form-group">
        <label for="points">Points</label>
        <input class="w-100 m-1 mx-0 form-control d-flex align-items-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
          data-bs-title="Please provide the amount of points that you would like to receive as a reward, upon completion of this task." type="number" name="points" id="points"/>
      </div>

      <div class="form-group">
        <label for="minutes">Minutes</label>
        <input class="w-100 m-1 mx-0 form-control d-flex align-items-center"
          data-bs-toggle="tooltip" data-bs-placement="right" data-bs-custom-class="custom-tooltip" 
          data-bs-title="Please provide an approximate amount of time that this task will require to be completed(this data will be useful when utilizing the 'Knock Out' tool)." type="number" name="minutes" id="minutes"/>
      </div>
      
      {{!-- <div class="form-group">
        <label for="complete_date">Completed</label>
        <input type="datetime-local" name="complete_date" id="complete_date"/>
      </div> --}}

      <div class="form-group">
        <button class="w-100 mx-0 m-1 btn btn-success" type="submit">Create Task</button>
      </div>
    </form>
  </div>
</div>
<script src="/js/task.js"></script>