<h1>Training Log</h1>
{{!-- Each stats chart data, or each type of chart we decide to do. --}}
<div class="row">
  <div class="col d-flex flex-column justify-content-center">
    <h2 class="text-center m-3">Completed vs. Not Completed Tasks</h2>
    <span class="fs-6 text-center">(not implemented)</span>
    <div class="mx-auto mb-4" style="width:250px; height:250px">
        <canvas id="completed-vs-not-completed"></canvas>
    </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col d-flex flex-column justify-content-center">
    <h2 class="text-center m-3">Priority Type</h2>
    <span class="fs-6 text-center">(not implemented)</span>
    <div class="mx-auto mb-4" style="width:250px; height:250px">
        <canvas id="priority"></canvas>
    </div>
  </div>
</div>
<hr/>
<div class="row">
      <div class="col-sm-12 justify-contents-center">
        <div class="row">
          <h4 class="text-center">Total Minutes</h4> 
          <h3 class="text-center">104102</h3>
          <span class="fs-6 text-center">(not interactive)</span> 
        </div>
        <div class="row w-100 mx-auto mb-4">
          <canvas id="minutes"></canvas>
        </div>
      </div>
  </div>
</div>
<hr/>
<div class="row">
  <div class="col d-flex flex-column justify-content-center">
    <h2 class="text-center m-3">Points</h2>
    <h3 class="text-center">5241278</h3>
    <div class="row">
      <div class="col-sm-12 justify-contents-center">
        <div class="row">
          <h4 class="text-center">Points for the Year</h4> 
          <span class="fs-6 text-center">(not interactive)</span> 
        </div>
        <div class="row w-100 mx-auto mb-4">
          <canvas id="points-year"></canvas>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 justify-contents-center">
        <div class="row">
          <h4 class="text-center">Points Weekly</h4> 
          <span class="fs-6 text-center">(not implemented)</span> 
        </div>
        <div class="row w-100 mx-auto mb-4">
            <canvas id="points-weekly"></canvas>
        </div>
      </div>
      <div class="col-sm-6 justify-contents-center">
        <div class="row">
        <h4 class="text-center">Points Daily</h4> 
          <span class="fs-6 text-center">(not implemented)</span> 
        </div>
        <div class="row w-100 mx-auto mb-4">
            <canvas id="points-daily"></canvas>
        </div>
      </div>
    </div>
    
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/trainingLog.js"></script>