html {
    overflow: scroll;
}

body {
    font-family: 'Koulen', sans-serif;
}
.header-text {
    font-size: 2em;
    font-weight: 700;
}
.chorechampion-text {
    color: white;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
max-width: 960px;
}

.pricing-header {
max-width: 700px;
}

.card-deck .card {
min-width: 220px;
}

.border-top {
border-top: 1px solid #e5e5e5;
}

.border-bottom {
border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.task-card:hover {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
    border-color: black;
}

.custom-gutter {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.custom-gutter > [class^="col-"] {
padding-left: 0.5rem;
padding-right: 0.5rem;
}

.card-title {
    text-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
}
.btn-warning {
    color: #fff !important;
    background-color: #ffca2c;
}

.btn-warning:hover {
    --bs-btn-color: #fff;
    background-color: #ffc107;
    color: #fff;
}

input {
    text-align: center;
}