html {
    overflow: scroll;
}

body {
    font-family: 'Koulen', sans-serif;
}
.header-text {
    font-size: 2em;
    font-weight: 700;
    text-shadow: 1px 1px 1px #919191,
        1px 2px 5px #919191;
}
.chorechampion-text {
    color: white;
}
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
max-width: 960px;
}

.pricing-header {
max-width: 700px;
}

.card-deck .card {
min-width: 220px;
}

.border-top {
border-top: 1px solid #e5e5e5;
}

.border-bottom {
border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.task-card:hover {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
    border-color: black;
    transform: scale(1.01); 
    transition: all 0.5s ease-out;
}

.custom-gutter {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

.custom-gutter > [class^="col-"] {
padding-left: 0.5rem;
padding-right: 0.5rem;
}

hr{
    text-shadow: 0 .25rem .75rem rgba(0, 0, 0, .25);
}
.btn-warning {
    color: #fff !important;
    background-color: #ffca2c;
}

.btn-warning:hover {
    --bs-btn-color: #fff;
    background-color: #ffc107;
    color: #fff;
}

input {
    text-align: center;
}

.btn:hover {
    font-weight: 400;
    /* font-size: 1.1em; */
    transition: all 0.5s ease-out;
}

.slide-in:hover {
    animation: slide-in-animation 1s linear infinite alternate;
}

@keyframes slide-in-animation {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(-3px);
    }
    /* 75% {
        transform: rotate(30deg);
    }
    87.5% {
        transform: rotate(-60deg);
    }
    100% {
        transform: rotate(30deg);
    } */
}

.jump-in:hover {
    animation: jump-in-animation 1s linear infinite alternate;
}

@keyframes jump-in-animation {
    0% {
        transform: translateY(-3px);
    }
    50% {
        transform: translateY(3px);
    }
    75% {
        transform: rotate(15deg);
    }
    87.5% {
        transform: rotate(-30deg);
    }
    100% {
        transform: rotate(15deg);
    }
}

.flip:hover {
    rotate: 360deg;
    transition: all .5s;
}

.fade-in {
    opacity: 1;
}

.fade-in:hover {
    rotate: 360deg;
    animation: fade 2s linear infinite alternate;
}

@keyframes fade {
    0% { opacity: .5}
    50% { opacity: 1; transform: scale(1.25);  }
    100% { opacity: .5}
}

.spin:hover {
    animation: rock 2s linear infinite alternate;
}

@keyframes rock {
    0%   {rotate: 30deg;}
    25%  {rotate: -45deg;}
    50%  {rotate: 60deg;}
    100% {rotate: -60deg;}
}
